$primary-color: rgb(77, 110, 201);
$primary-font-color: rgb(212, 212, 212);

$secondary-color: rgb(230, 230, 230);
$secondary-font-color: $primary-color;

$danger-color: rgb(192, 38, 38);
$danger-font-color: $primary-font-color;

$bg-color: rgb(250, 250, 250);
$font-color: rgb(80, 80, 80);

* {
    margin:0;
    box-sizing: border-box;
}

.btn {
    background-color: $bg-color;
    border: none;
    color: $font-color;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 100;
    flex: 1 1;
    margin: 2px;

    &.btn-primary {
        background-color: $primary-color;
        color: $primary-font-color;
        font-weight: 600;
    }

    &.btn-secondary {
        background-color: $secondary-color;
        color: $secondary-font-color;
        font-weight: 200;
    }

    &.btn-danger {
        background-color: $danger-color;
        color: $danger-font-color;
        font-weight: 100;
    }
}

.display {
    font-size: 1.2rem;
    font-weight: 100;
    color: $font-color;
    padding: 15px 10px;
    border: none;
    text-align: right;
    width: 100%;
    margin: 0 0 5px 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .calc {
        display:flex;
        flex-direction: column;
        width: 450px;
        border: $primary-font-color solid 1px;
        border-radius: 5px;
        padding:10px;

        .row {
            display: flex;
        }
    }
}
